a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.no-js #menu ul {
  position: static;
}

#menu {
  text-align: center;
}
#menu > li {
  background: #3498db;
  color: #FFF;
  display: inline-block;
  letter-spacing: -5px;
  position: relative;
}
  #menu > li a, #menu > li ul {
    letter-spacing: 0;
  }
  #menu > li a {
    display: block;
    padding: 1em;
    color: #FFF;
  }
    #menu > li > a:hover, #menu > li > a:focus {
      background: #2980b9;
    }
  #menu ul {
    position: absolute;
    top: -9999px;
    background: #2980b9;
    font-size:0.9em;
    width: 100%;
  }

  #menu ul a {
    color: #FFF;
  }

    #menu ul a:hover, #menu ul a:focus {
      background: #2c3e50;
    }

  #menu > li:hover ul, #menu > li:focus ul {
   top: 3.9em!important; 
  }
